<div class="mdl-cell mdl-grid mdl-cell--12-col mdl-card mdl-shadow--4dp _innerPadding">
  <h1 class="mainTitle">Contact</h1>
  <p>Fell Free to contact me yubraj.pokharel555@gmail.com</p>
  <p>Note : I have created this site using the Angular 2 with angular-cli. I have implemented http services and
  routing modules in this site. If you want to see the full code to know how this is made then please follow this link:
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" target="_blank" href="https://github.com/yubrajpokharel/yubrajpokharel.com">
      <i class="material-icons">link</i> Github
    </a>
  </p>
</div>
